# Django
SECRET_KEY=secret
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
MANAGERS="María Pérez <mperez@sportsclub.local>"
ADMINS="Ruth Beitia <rbeitia@sportsclub.local>"
SERVER_EMAIL=webmaster@sportsclub.local
DEFAULT_FROM_EMAIL=noreply@sportsclub.local

# Database
POSTGRES_USER=sportsclub
POSTGRES_PASSWORD=sportsclub
POSTGRES_DB=sportsclub
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

