# Sports club (synchronous version)
django==6.0.0
django-cors-headers==4.9.0
django-environ==0.12.0
django-json-widget==2.1.0
django-nanoid-field==0.1.4
django-ninja==1.5.3
pydantic[email]==2.12.5
psycopg[binary,pool]==3.3.1
whitenoise==6.11.0
